AZURE_LOCATION="polandcentral"   # Region na którym chcemy postawić infrastrukture
AZURE_SUBSCRIPTION_ID=""    # ID subskrybcji na której chcemy postawić infrastrukture
PROJECT_NAME="petclinic"    # Nazwa projektu - kluczowe, używane do nazywania wielu lelementów konfiguracji
MYSQL_ADMIN_PASSWORD=""     # Wymyślić hasło, min 8 znaków, wielkie/małe/cyfra/znak
ALLOWED_SSH_CIDR=""              # curl -s ifconfig.me -4 → wpisz wynik/32