###############################################################################
# terraform.tfvars.example - dodać do terraform.tfvars i uzupełnić
# terraform.tfvars do .gitignore
###############################################################################

location             = "polandcentral"
project              = "petclinic"
vm_size              = "Standard_B2s"
vm_admin_username    = "azureuser"
vm_ssh_public_key    = "ssh-rsa AAAA..."    # klucz publiczny ssh do VM
mysql_admin_username = "petclinic"
mysql_admin_password = ""                        # to samo co w .env
allowed_ssh_cidr     = ""                        # `curl -s ifconfig.me -4` - wynik/32
